<% _.each(collection, function(story){ %>

<div class="row">
    <div class="large-12 columns">
        <div class="story">
            <a href="#stories/story.id">
                <h1 class='title'><%= story[language].title %></h1>
            </a>
            <span class='description'><%= story[language].description.substr(0,150) %></span>
        </div>
    </div>
</div>

<% }); %>

