<a href="#admin"><p class="back"><i class="fa fa-arrow-circle-o-left"></i> Back</p></a>
<h3><i class="fa fa-edit"></i> Edit story / <%= title %></h3>
<form id="edit-story">
    <div class="row">
    <div class="large-12 columns">
      <label>Story Title
        <input type="text" name="title" placeholder="Title of your story" value="<%= title %>" />
      </label>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <label>Description
        <textarea name="description" placeholder="Your story goes here..."><%= description %></textarea>
      </label>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
       <input type="submit" class="button success" value="Save"/>
    </div>
  </div>
</form>


