<div class="row login-module">
    <div class="logo"></div>
    <div class="small-10 large-4 medium-5 small-centered columns">
        <div class="mm-logo"></div>
        <form id="we-lviv-login">
            <div class="row">
                <div class="large-12 columns">
                    <input type="text" name="username" placeholder="Username">
                </div>
            </div>
            <div class="row">
                <div class="large-12 columns">
                    <input type="password" name="password" placeholder="Password">
                </div>
            </div>
            <div class="row">
                <div class="large-12 columns">
                    <input type="submit" class="button button-confirm expand" value="Login">
                </div>
            </div>
        </form>
    </div>
</div>