<video autoplay style="width: 100%; height: 300px; border: 1px solid black"></video>
<button id="screenshot-button">Scan QR code</button>
<select name="language">
    <option value="en">English</option>
    <option value="ua">Ukrainian</option>
</select>
<a class="button" href="#stories">Search for Story</a>
<div class="canvas-wrap"><canvas id="qr-canvas"></canvas></div>
