<div class="row">
    <div class="large-12 columns">
        <div class="header-image">
            <a href="#scanner"><span class="back"><i class="fa fa-angle-left"></i> Back</span></a>
            <% if ( model.image ){ %>
                <image src="<%= model.image %>">
            <% } %>
        </div>
    </div>
</div>
<div class="row">
    <div class="large-12 columns">
        <div class="story-title">
            <h1><%= model.title %></h1>
        </div>
    </div>
</div>
<div class="row">
    <div class="large-12 columns">
        <div class="story-text">
            <%= model.description %>
        </div>
    </div>
</div>
<div class="row">
    <div class="large-12 columns">
        <div class="story-video">
            <% if ( model.video ){ %>
            <iframe class='youtube-player' type='text/html' width='100%' height='385' src='http://www.youtube.com/embed/<%= video_id %>' allowfullscreen frameborder='0'>
            </iframe>
            <% } %>
        </div>
    </div>
</div>
<div class="row">
    <div class="large-12 columns">
        <div class="story-social">
            <a class="red_btn" href="#scanner" id="screenshot-button"><i class="qr_code_icon"></i><span>Scan QR-code</span></a>
            <div class="social-links">
                <i class="tw_icon"></i>
                <i class="fb_icon"></i>
            </div>
        </div>
    </div>
</div>