@charset "UTF-8";

@import "settings";
@import "foundation/scss/normalize";

// Include some Foundation components
// You can see complete component list in bower_components/foundation/scss/foundation.scss
@import
    "foundation/scss/foundation/components/block-grid",
    "foundation/scss/foundation/components/grid",
    "foundation/scss/foundation/components/tables",
    "foundation/scss/foundation/components/reveal",
    "foundation/scss/foundation/components/buttons",
    "foundation/scss/foundation/components/type",
    "foundation/scss/foundation/components/forms",
    "foundation/scss/foundation/components/tooltips",
    "foundation/scss/foundation/components/pagination",
    "foundation/scss/foundation/components/alert-boxes";

#navigation{
    height: rem-calc(50);
    background: #333333;
    padding: rem-calc(10 0);

    .main-title {
        color : #ffffff;
        font-size: rem-calc(20);
    }
}

#container {
    padding: rem-calc( 30 0 );
}

.messages {
    .columns {
        padding: 0;
        margin-top: rem-calc(20);
    }
}

table {
    .fa-minus-circle {
        color: $deleteColor;
    }
    .fa-edit {
        color: #cedb00;
    }
}