@charset "UTF-8";

@import "settings";
@import "foundation/scss/normalize";

// Include some Foundation components
// You can see complete component list in bower_components/foundation/scss/foundation.scss
@import
    "foundation/scss/foundation/components/block-grid",
    "foundation/scss/foundation/components/grid",
    "foundation/scss/foundation/components/tables",
    "foundation/scss/foundation/components/reveal",
    "foundation/scss/foundation/components/buttons",
    "foundation/scss/foundation/components/type",
    "foundation/scss/foundation/components/forms",
    "foundation/scss/foundation/components/tooltips",
    "foundation/scss/foundation/components/pagination",
    "foundation/scss/foundation/components/alert-boxes";

@media print {
    header, .edit-form, .titles {
        display: none;
    }
    /*.qr-code-print {
        width: 400px;
        height: auto;
    }*/
}

.titles{
    a {
        color: #b4b4b4;
    }
}

#navigation{
    height: rem-calc(50);
    background: #333333;
    padding: rem-calc(10 10);

    .main-title {
        color : #ffffff;
        font-size: rem-calc(20);
    }
    font-family: 'Lato', sans-serif;
}

#container {
    padding: rem-calc( 30 10 );
}

.messages {
    .columns {
        padding: 0;
        margin-top: rem-calc(20);
    }
}

table {
    .fa-minus-circle {
        color: $deleteColor;
        cursor: pointer;
    }
    .fa-edit {
        color: #cedb00;
        cursor: pointer;
    }
}

.qr-code-print {
    img {
        margin: 0 auto;
    }
    p {
        display: block;
        text-align: center;
        font-size: rem-calc(20);
    }

}

