<div id="dialog" class="reveal-modal" data-reveal>
    <h4><%= title %></h4>
    <p class="dialog-body"><%= body %></p>
    <div class="content"></div>
    <a class="close-reveal-modal">&#215;</a>
    <div class="buttons">
        <a href="#" class="button secondary cancel"><%= cancelButtonText %></a>
        <a href="#" class="button-confirm confirm"><%= confirmButtonText %></a>
    </div>
</div>